# Common defaults for all experiments

experiment:
  name: "mnist_experiment"
  simtime_ms: 60000
  seed: 12345
  nest:
    resolution_ms: 1
    threads: 6

network:
  N_E: 784
  N_IH: 98
  N_IA_1: 49
  N_IA_2: 49
  N_IA: 98
neuron_model:
  name: "aeif_psc_exp"
  params:
    a: 0.0
    b: 0.0
    V_th: -50.4 
    #V_reset: -60
    E_L: -70.6
    #V_m: -70.6
    Delta_T: 2
    #tau_syn_ex: 2.0  
    #tau_syn_in: 5.0  
    C_m: 600
    g_L: 30
    #t_ref: 0
    tau_w: 1_000_000_000
    tau_minus: 50.0
    gsl_error_tol: 0.000001 #0.000001

synapses:
  base_Wmax: 35
  base_LR: 0.001
  global_lr: 0.008
  E_to_X:
    model: "stdp_synapse"
    copy_model_name: "stdp_ex_asym"
    synapse_parameter:
      tau_plus: 20.0
      lambda: 0.003
      alpha: 0.35
      mu_plus: 0
      mu_minus: 0
    delay_ms: 0.5
    Wmax_factor: 56
    #LR_factor: 1.0
    weight_init: 
      distribution: "trunc_normal_rel_to_Wmax"
      mean: 0.5
      std: 0.2
      lower_rel: 0.0
  IH_to_X:
    model: "vogels_sprekeler_synapse"
    copy_model_name: "stdp_inh_sym_hebb"
    synapse_parameter:
      tau: 35.0
      eta: 0.001
      alpha: 0.05
    delay_ms: 0.5
    Wmax_factor: -16
    #LR_factor: 16.0
    weight_init: 
      distribution: "trunc_normal_rel_to_Wmax"
      mean: 0.5
      std: 0.2
      lower_rel: 0.0
  IA_to_X:
    model: "vogels_sprekeler_synapse"
    copy_model_name: "stdp_inh_sym_antihebb"
    synapse_parameter:
      tau: 35.0
      eta: -0.001
      alpha: 0.05
    delay_ms: 0.5
    Wmax_factor: -32
    #LR_factor: -32.0
    weight_init: 
      distribution: "trunc_normal_rel_to_Wmax"
      mean: 0.5
      std: 0.2
      lower_rel: 0.0
  weight_decay:
    enabled: false
    decay_factor: 1
    decay_summand: 0
    chunk_ms: 100.0
    every_n_chunks: 10

stimulation:
  dc:
    enabled: true
    rnd_mean_pA: 405.0
    rnd_std_pA: 20.0
  pattern:
    pulse_ms: 800.0
    gap_ms: 200.0
    t_on_ms: 5000.0
    t_off_ms: 40000.0
    split: 2
    rng_seed: 1234
    use_seed: false
  mnist:
    enabled: true
    image_size: 28
    pixel_current_pA: 405.0
    image_path: "data/mnist/images.npy"
    label_path: "data/mnist/labels.npy"
  

neuron_excitability:
  enabled: true
  use_seed: true
  rng_seed: 1001
  mean_offset_pA: 0
  std_pA: 1.0
  upper_offset_pA: 2.0
  lower_offset_pA: -4.0

noise:
  enabled: true
  noise_mean: 0.0
  noise_std: 40.0
  weight: 1

analysis:
  spike_bin_ms: 10.0
  variability_window_ms: 1000.0
  weight_hist_bins: 50